@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4F4F4F;
}

header {
    padding-top: 52px;
    padding-bottom: 48px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    color: #000000;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 24px;
    color: #333333;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}

img {
    max-width: 100%;
    width: 100%;
}

label {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #333333;

    display: block;
    position: relative;
    padding-left: 38px;
    margin-bottom: 12px;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type='checkbox'] {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

footer {
    text-align: center;
    padding-bottom: 24px;
    padding-top: 93px;
}

footer p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}

footer p a {
    color: #828282;
    font-weight: 700;
}

.container {
    max-width: 968px;
    margin: 0 auto;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.col-60 {
    max-width: 60%;
}

.col-40 {
    max-width: 40%;
}

.dots::before {
    content: " ";
    position: absolute;
    width: 13px;
    height: 8px;
    left: 0;
    top: 6px;
    background-image: url('./Images/6dots.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.section-title {
    margin-bottom: 28px;
    margin-top: 28px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: transparent;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

label:hover input[type='checkbox'] ~ .checkmark {
    background-color: #eee;
}

label input[type='checkbox']:checked ~ .checkmark {
    background-color: #F2994A;
    border-color: #F2994A;
}

label input[type='checkbox']:checked ~ .checkmark::after {
    display: block;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 57px 43px 7px 43px;
    width: 212px;
}

.card-information {
    display: flex;
    align-items: center;
    margin-bottom: 43px;
}

.card-icon {
    margin-right: 14px;
}

.card .card-information:first-child .card-icon,
.card .card-information:first-child .card-text p:nth-child(2) {
    color: #F2994A;
}

.card-text p:first-child {
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #BDBDBD;    
}

.card-text p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}

.steps {
    display: flex;
    align-items: flex-start;
    margin-bottom: 31px;
}

.steps span {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    padding: 0 13px 6px 13px;
    background: #F2994A;
    border-radius: 6px;
    margin-right: 15px;
    width: 36px;
    height: 36px;
    text-align: center;
    display: block;
}

.steps p {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.source {
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #BDBDBD;
}